.about-section {
    width: 100%;
    position: relative;
    height: 370px;
    background: url("../../images/breadcrumb.webp") no-repeat center center;
    justify-content: center;
    background-size: cover;
    align-items: center;
    display: flex;
  }
  .about-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(8, 74, 150, 1),
      rgba(52, 231, 12, 0)
    ); /* Gradient from right to left */
    z-index: 1;
  }
  .about-section > * {
    position: relative;
    z-index: 2;
  }
  .about-section .element {
    position: absolute;
    left: 0px;
    top: -32px;
  }
  
  .about-section img {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .about-hero h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
  }
  .breadcrumb {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .breadcrumb a,
  span {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-weight: 600;
    margin-top: 10px;
  }
