.brands-title{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px ;
    margin-top: 80px;
}

.brands-title h5{
    position: relative;
    text-align: center;
    color: #0f0d1d;
    margin: 20px 0;
}

.brands-title h5::before,
.brands-title h5::after {
  content: ""; 
  position: absolute;
  top: 50%;
  width: 35%;
  height: 1px; 
  background-color: #d7dfff; 
}

.brands-title h5::before {
  left: 0; 
}

.brands-title h5::after {
  right: 0; 
}


.envato{
    display: flex;
    gap: 120px;
    margin-left: 20px;
    margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
    .brands-title h5::before,.brands-title h5::after{
        display: none;
    }
    .brands-title{
        display: flex;
    }

    .brands-title h5{
        font-size: 24px;
    }

    .envato img{
        visibility: hidden;
        position: absolute;
    }

    .envato img:first-child{
        visibility: visible;
        position: static;
    }

    .envato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
