:root {
  --primary-color: #384bff;
  --secondary-color:#18185e;
  --font-color: #fff;
  --title-color: #0f0d1d;
  --card-color: #f3f7fb;
  --light-blue-bg: #f2f6fe;

}
*{
  box-sizing: border-box;
}
.Hero{
  background-color: var(--primary-color);
}
.Quote, .specifications, .content-title{
  color: var(--font-color);
}

